@CHARSET "UTF-8";

.cellImagePreview{
	font-weight: bold;
	
}

.selectableImage:HOVER{
	cursor: pointer;
	border: thick solid orange;
}

.selectedImage{
	border: thick solid red;
	
}

.cellImagePreview:HOVER {
	cursor: pointer;
	
	text-decoration: underline;
}