@CHARSET "UTF-8";

body, .main_nav{
    background-color: black;
    color: white;
    font-family: Georgia;
}

.main_nav{
	border: 0px; 
}

.link{
	list-style-type: none;
	color: white;
	padding: 0px;
}

.link:HOVER{
	cursor: pointer;
	font-weight: bold;
	color: white;
	text-decoration: none; 
}

.hideOverFlowWithEllipis{
	text-overflow: ellipsis; 
	width: 100%; 
	overflow:hidden;
	height: 100%;
}


.carouselImages{
	text-align:center;
	min-height: 400px;
	max-height: 400px;
	max-width: 100%;
	margin-left: auto;
    margin-right: auto;
    display:block;
}

.mainPageEventImages{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
    margin-right: auto;
    display:block;
    max-width: 100%; 
    max-height: 100%
}


.underline{
	text-decoration: underline;
	
}

.colTwoMarign{	
	border: '1px solid white';
 	} 


.primary-color{
	color: #d9ca76;
}

.primary-color-on-hover:HOVER{
	color: #d9ca76;
}

.imageClick:HOVER{
	cursor: pointer;
	font-size: 20px;
	}

.bold{
	font-weight: bold;
}

.verticalLine {
    border-left: thick solid white;
}

.italic{
	font-style: italic;
}


.modal-header, .modal-content, .modal-body{
	    background-color: black;	
}

.navbar-default .navbar-toggle {
    border-color: #DDD;
    text-align: right;
}

.albumDisplay{
	cursor: pointer; 
	padding: 10px;
}

.albumDisplay:hover{
	border: solid 5px #d9ca76;
	padding: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-header{
	display: inline;
}

.showDisplay{
	white-space: pre-wrap; 
	overflow: auto;
}

.main_border{
	border: 1px solid #d9ca76;
}

.main_title{
	padding-top: 25px;
	text-align: center;
	font-size: 40px;
	font-family: Georgia;

}

td.photoNav{
	width: 50px;
	font-size: 50px;
	text-align: center;
	font-family: Georgia;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td.photoNav:hover{
	cursor: pointer;
	color: #d9ca76;
}

.albumTitle{
	text-align: center;
	font-family: Georgia;
}


.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d9ca76;
    font-size: 27px;
}

.main_subtitle{
	font-family: Georgia;
	padding-top: -5px;
	text-align: center;
	font-size: 27px;
}

a.menu_link{
	color: white;
	font-size: 25px;
	padding: 6px;
	font-family: Georgia;
	cursor: pointer;
}

a.menu_link:hover {
        color: #d9ca76;
    
    text-decoration: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-collapse.in {
  text-align: left;
}


hr.title_line{
	margin-top: 5px;
	margin-bottom: 5px;
}

hr.title_line.top{
	margin-bottom: -3px;
}

hr.title_line.bottom{
	margin-top: -3px;
}

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }



