<?php
	$dbUser = "username";
	$dbPassword = "password";
	$dbName = "name";
	$dbHost = "host";
	$adminEmail = "email@email.com";
	$baseURL = "/baseUrl/";
	
	$serverPath = "/server/path/";
	
	$externalLink = "http://externalPath.com";
	
	$secret = 'secret';
	
	$adminMail = 'adminMail@email.com';
	$webmasterMail = 'webmaster@email.com';
	$contactMail="contact@email.com";
	
	$appId = "appID";
	
?>
