<?php
	$dbUser = "database user";
	$dbPassword = "database password";
	$dbName = "dbName";
	$dbHost = "host";
	$adminEmail = "adminEmail";
	$baseURL = "baseUrl";
	
	$baseURL = "webPath";
	$serverURL = "serverPath";
	$externalLink = "";
	
	$secret = 'xxxxxexamplexxxxxx';
	
	$adminMail = '';
	$webmasterMail = '';
	$contactMail="";
	
	
?>
